@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');





*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 14px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171a2000;
    position: fixed;
    top: 60px;
    width: 100%;
    
}

header nav,div{
    padding: 20px 30px;
}

header a{
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 700;
    color: #171A20;
    border-radius: 5px;
    transition: 0.4s;
}
header a:hover{
    background-color: #171a2041;
}

header>div>img{
    height: 20px;
}

#model-s,#model-y,#model-ss,#model-X,#model-Z{
    padding: 150px 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/tesla-s.jfif);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    height: calc(100vh - 298px);
}

#model-y{
    background-image: url(../img/model-y.jfif);
    background-position-y: 62%;
}
#model-ss{
    background-image: url(../img/model-s.jfif);
}
#model-X{
    background-image: url(../img/model-x.jfif);
}
#model-Z{
    background-image: url(../img/solar-panels.jfif);
}
.links{
    text-decoration: none;
    padding: 10px 100px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.4s;
}
.black-btn{
    background-color: #171A20CC;
    color: #F4F4F4A6;
}
.black-btn:hover{
    background-color: #171A20;
    color: #F4F4F4;
}
.white-btn{
    background-color: #F4F4F4A6;
    color: #171A20CC;
}
.white-btn:hover{
    background-color: #F4F4F4;
    color: #171A20;
}

.white{
    position: fixed;
    width: 100%;
    width: calc(100% - 60px);
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: white;
}
.white a{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #171A20;
}

h1{
    font-size: 40px;
}
h3{
    font-size: 17px;
    font-weight: 300;
}

@media (max-width: 1400px)
{
    #btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    #btns>a{
        width: 10%;
        font-size: 1.5rem;
    }
}
@media (max-width:750px)
{
    #btns>a{
        font-size: 2rem;
    }
}
@media (max-width:450px) 
{
    #model-s{
        justify-content: center;
    }
    .links{
        width: 100px!important;
        padding: 10px 10px;
    }
}
